*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  font: 400 16px/1 sans-serif;
  color: #101010;
}

.container {
  max-width: 1217px;
  width: 100%;
  margin: 0 auto;

  &--header {
    max-width: 1360px;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

a:-webkit-any-link {
  text-decoration: none;
}

a {
  display: inline-block;
  cursor: pointer;
}

address {
  font-style: normal;
}

img,
picture,
svg {
  display: block;
}

picture,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 15px;
  }

  h1 {
    font: 400 32px/1 "TTCommons-Regular", sans-serif;
  }
}